<html lang="en">
  <head>
  </head>
  <body>
    <header class="header">
      <!-- header -->
    </header>

    <div class="container">
      <div class="content">
        @!section('content') 
      </div>
    </div>
    @section('footer')
        <!-- footer -->
    @endsection
  </body>
</html>